<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img alt="Paranoia Logo" src="images/paraCopy.png"></a>
      	
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/consolepage.html">Go Home</a></li>
            <li><a href="/completeGame">Go to Game</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container box">
		
		<div class="row" id="AgentPicture">
			<div class="col-md-6">
				<img src="<%=player.pic%>">
			</div>
	
			<div>
				
					<h1><%= user.local.handle %>'s Dossier</h1>
					
					<strong>email</strong>: <%= user.local.email %><br>
					
					
			</div>
		</div>
	</div>
</div>

	<div class="container box-two">
		<div class="row">
			<div class="col-md-6">
				<img src="../images/spyTeam.png">
			</div>
	
			<div>
				<ul>
					<h1><span class="glyphicon glyphicon-chevron-right"></span>Game Console</h1>
					<form class="input-group">
						<span class="input-group-addon" id="basic-addon1">Confirm Target Hug</span>
						<input type="text" class="form-control" name="tag" placeholder="Agent Tag">

						<button type="submit" class="btn btn-warning btn-lg">Enter Tag</button>
					</form>
					
					<div id="myGame">

					</div>
					<div class="container">
  <h2>Agents in the Field</h2>
  <p>agents fighting</p>                                                                                      
  
</div>
					<a href="/createGame" class="btn btn-default"><span class="fa fa-user"></span>Create Game</a>
	
					
	
				</ul>	
			</div>
		</div>

			

	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/pickplayers.js"></script>

</body>
</html>