<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="container box">
		
		<div class="row" id="AgentPicture">
			<div class="col-md-6">
				<img src="<%=player.pic%>">
			</div>
	
			<div>
				
					<h1><%= player %>'s Dossier</h1>
					
					<strong>email</strong>: <%= user.local.email %><br>
					<strong>Tag  <%= player[0].tag %> </strong>: <br>
					
			</div>
		</div>
	</div>

	<div class="container box-two">
		<div class="row">
			<div class="col-md-6">
				<img src="../images/spyTeam.png">
			</div>
	
			<div>
				<ul>
					<h1><span class="glyphicon glyphicon-chevron-right"></span>Game Console</h1>
					<form class="input-group">
						<span class="input-group-addon" id="basic-addon1">Confirm Target Hug</span>
						<input type="text" class="form-control" name="tag" placeholder="Agent Tag">

						<button type="submit" class="btn btn-warning btn-lg">Enter Tag</button>
					</form>
					
					<div id="myGame">

					</div>
					<div class="container">
  <h2>Agents in the Field</h2>
  <p>agents fighting</p>                                                                                      
  
</div>
					<a href="/createGame" class="btn btn-default"><span class="fa fa-user"></span>Create Game</a>
	
					<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Log Out</a>
	
				</ul>	
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>