body {
	background-color: black;
	color: green;
	font-family: courier;
}
.box {
	border-width: 5px;
	border-style: double;
	padding-bottom: 50px;
	text-align: center;
}

.box-two {
	margin-top: 50px;
	border-width: 5px;
	border-style: double;
	padding-top: 50px;
}

.signIn {
	text-align: center;
}

.signUp {
	text-align: center;
}

.banner {
	text-align: center;
	background-color: black;
}

.remove-button {
	border-radius: 50%; 
	height: 50px; 
	width: 50px;
	border-width: 1px;
	
}

#startButton {
	border-radius: 15%;

}